/*section*/
.h2 {
	font-size: 20px;

}
.ballet2 {
	background-image: url(../img/dance_12.jpg);
	background-size: 100%;
	height: 270px;
	margin: 5px 10px 10px 0px ;
	padding-top: 170px;
}
.dance-modern {
	background-image: url(../img/breakdance.jpg);
	background-size: 100%;
	height: 270px;
	padding-top: 170px;
	margin: 5px 10px 10px 10px ;
}
.jazz-liric {
	background-image: url(../img/lirical-jazz.jpg);
	background-size: 100%;
	height: 270px;
	padding-top: 170px;
	margin: 5px 10px 10px 5px ;
}
.arabic-dance {
	background-image: url(../img/arabe.jpg);
	background-size: 100%;
	height: 270px;
	padding-top: 170px;
	margin: 10px 10px 50px 0px ;
}
.kid-lesson {
	background-image: url(../img/little.jpg);
	background-size: 100%;
	height: 270px;
	padding-top: 170px;
	margin: 10px 10px 50px 10px ;
}
.yoga-gance {
	background-image: url(../img/yoga.jpg);
	background-size: 100%;
	height: 270px;
	padding-top: 170px;
	margin: 10px 10px 50px 5px;
}
.overlay {
	width: 80%;
	height: 100px;
	margin: 10px auto;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding-top: 5px;
	
}
.baile {
	font-size: 18px;
	margin-bottom: 20px;
}